<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>commcenter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>diagclient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD0A439D17A3805000B4E072</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD0A43B917A3905D00B4E072</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD0A43CA17A3913400B4E072</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD57D3FF179A79FE00943ED6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD57D414179B606700943ED6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD57D41E179B607900943ED6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD57D42B179B60DF00943ED6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD57D43F179B60ED00943ED6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD692666179A6ED6006CF4F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDB14F4B179A70E400BECE38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDB14F5B179A713300BECE38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
